<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.user.UserSignMapper">
  <resultMap id="BaseResultMap" type="com.chen.entity.user.UserSign">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="coins" jdbcType="INTEGER" property="coins" />
    <result column="days" jdbcType="INTEGER" property="days" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, createtime, coins, days
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usersign
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from usersign
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.chen.entity.user.UserSign">
    insert into usersign (id, uid, createtime, 
      coins, days)
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{coins,jdbcType=INTEGER}, #{days,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.entity.user.UserSign">
    insert into usersign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="coins != null">
        coins,
      </if>
      <if test="days != null">
        days,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coins != null">
        #{coins,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        #{days,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.entity.user.UserSign">
    update usersign
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coins != null">
        coins = #{coins,jdbcType=INTEGER},
      </if>
      <if test="days != null">
        days = #{days,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.entity.user.UserSign">
    update usersign
    set uid = #{uid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      coins = #{coins,jdbcType=INTEGER},
      days = #{days,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>