<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.user.UserAppraiseMapper">
  <resultMap id="BaseResultMap" type="com.chen.entity.user.UserAppraise">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ucid" jdbcType="INTEGER" property="ucid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rate" jdbcType="INTEGER" property="rate" />
    <result column="flag" jdbcType="SMALLINT" property="flag" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ucid, uid, rate, flag, content, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userappraise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from userappraise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chen.entity.user.UserAppraise">
    insert into userappraise (id, ucid, uid, 
      rate, flag, content, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{ucid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{rate,jdbcType=INTEGER}, #{flag,jdbcType=SMALLINT}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.entity.user.UserAppraise">
    insert into userappraise
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ucid != null">
        ucid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ucid != null">
        #{ucid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.entity.user.UserAppraise">
    update userappraise
    <set>
      <if test="ucid != null">
        ucid = #{ucid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=SMALLINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.entity.user.UserAppraise">
    update userappraise
    set ucid = #{ucid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      rate = #{rate,jdbcType=INTEGER},
      flag = #{flag,jdbcType=SMALLINT},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>